h1{
    color: rgb(37, 86, 131);
    font-size:100px;
    font-family: 'Finger Paint', Arial, Helvetica, sans-serif;
    text-align: center;
}

li{
    color: rgb(37, 86, 131);
    font-size:20px;
    font-family: 'Finger Paint', Arial, Helvetica, sans-serif;
}